.container {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  background-color: #d1411e;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.item {
  flex: 1;
}
